/* Header */
.header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

/* Login Section */
.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login h2 {
    text-align: center;
    margin-bottom: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Transaction Section */
.transaction {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction h2 {
    text-align: center;
    margin-bottom: 10px;
}

.transaction input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Transaction History Section */
.transaction-history {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-history h2 {
    text-align: center;
    margin-bottom: 10px;
}

.transaction-history p {
    margin: 5px 0;
}

